#About
{
    padding: 60px 0px;
    width: 100%;
}
#About #About-Main
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#About #About-Main #About-Main-sCard
{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 150px;  
    padding: 20px 0px;
}
#About #About-Main #About-Main-sCard i
{
    font-size: 4rem;
    color: rgba(51, 171, 211, 0.843);
}
#About #About-Main #About-Main-sCard h3
{
    color: rgba(51, 171, 211, 0.843);
    font-size: 1.5rem;
}
#About #About-Main #About-Main-sCard p
{
    color: rgba(45, 186, 233, 0.4);
}
