#Home-Header 
{
    z-index: 0;
    width: 100%;
    background: url("https://www.hdwallpapers.in/download/decorated_hanging_light_bed_glass_window_4k_hd_room-3840x2160.jpg");
    background-size: cover;
    background-repeat: no-repeat    ;
}
#Home-Header #Home-Header-top 
{
    height: 90vh;
    margin: 0 auto;
    position: relative;
    width: 95%;
}
#Home-Header #Home-Header-top #Home-top-rBox
{
    padding: 60px 120px 40px 60px;
    background-color: #18222d; 
    position: absolute;
    right: 0;
    top: 200px;
    width: 750px;
}
#Home-Header #Home-Header-top #Home-top-rBox h3
{
    color: rgba(45, 186, 233, 0.647);
    margin-bottom: 10px;
}
#Home-Header #Home-Header-top #Home-top-rBox h1 
{
    margin-bottom: 10px;
    font-size: 2.6rem;
    color: rgba(45, 186, 233, 0.891);
    line-height: 50px;
    font-weight: 600;
}
#Home-Header #Home-Header-top #Home-top-rBox p
{
    margin-bottom: 40px;   
    color: rgba(45, 186, 233, 0.4);
}
#Home-Header #Home-Header-top #Home-top-rBox button
{
    background-color: rgba(45, 186, 233, 0.3);
    border: 2px solid rgba(45, 186, 233, 0.4);
    color: white; 
    box-shadow: 0px 0px 7px 7px rgba(45, 186, 233, 0.3);
    width: 222px;
    font-weight: 600;
    font-size: 0.9rem;
    height: 74px;  
}
#Home-Header #Home-Header-top #Home-top-rBox button:hover
{
    cursor: pointer;
    color: rgba(45, 186, 233, 0.843);
    transform: scale(0.93);
    background-color:transparent
    ;
    box-shadow: 0px 0px 7px 7px rgba(45, 186, 233, 0.3);

    transition: 0.7s ;    
}
