*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
#MainProducts
{
    background-color: #18222d;
    width: 100%;
    padding-bottom: 40px;
}
#MainProducts .container
{
    width: 95%;
    text-align: center;
    margin: 0 auto;
}
#MainProducts .container h1
{
    color:rgba(51, 171, 211, 0.843);
    margin-bottom: 20px;
}
#MainProducts .container #MainProducts-card
{
    text-align: start;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#MainProducts .container #MainProducts-card #MainProducts-sBox
{
    opacity: 1;
    position: relative;
    z-index: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.125s;
    transition-duration: 0.125s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    background-color: #F4F5F7;
    margin-bottom: 30px;
    position: relative;
    height: 450px;
    width: 22%;
}
#MainProducts .container #MainProducts-card #MainProducts-sBox:hover
{
    transform: scale(0.97);
    transition: 0.7s;

    box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}
#MainProducts .container #MainProducts-card #MainProducts-sBox img
{
    width: 319px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}
#MainProducts .container #MainProducts-card #MainProducts-sBox > button
{
    color: white;
    background-color: #2EC1AC;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid transparent;
    top: 20px;
    width: 50px;
    height: 50px;
    right: 20px;
}
#MainProducts .container #MainProducts-card #MainProducts-sBox > h3
{
    margin-top: 10px;
    padding-left: 20px;
    font-size: 1.3rem;
}
#MainProducts .container #MainProducts-card #MainProducts-sBox p
{
    margin-top: 5px;
    padding-left: 20px;
    color: #898989;
    font-size: 0.9rem;
}
#MainProducts .container #MainProducts-card #MainProducts-sBox #Product-price
{
    padding-top: 5px;
    align-items: center;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
#MainProducts .container #MainProducts-card #MainProducts-sBox #Product-price h3
{
    padding-left: 20px;
    font-size: 1rem;
}
#MainProducts .container #MainProducts-card #MainProducts-sBox #Product-price strike
{
    padding-left: 20px;
    color: #979595;
    font-size: 0.8rem;
}
#MainProducts .container #MainProducts_btn
{
    margin-top: 20px;
    width: 300px;
    height: 60px;
    background-color: rgba(45, 186, 233, 0.3);
    border: 2px solid rgba(45, 186, 233, 0.4);
    color: white; 
    box-shadow: 0px 0px 7px 7px rgba(45, 186, 233, 0.3);
    font-size: 1.1rem;

}
#MainProducts .container #MainProducts_btn:hover
{
    cursor: pointer;
    color: rgba(45, 186, 233, 0.843);
    transform: scale(0.93);
    background-color:transparent
    ;
    box-shadow: 0px 0px 7px 7px rgba(45, 186, 233, 0.3);

    transition: 0.7s ; 
}
#MainProducts .container #MainProducts-card #MainProducts-bgBox
{
    display: none;
    margin-top: -424px;
    z-index: 1;
    opacity: 0.7;
    position: absolute;
    background-color: #333;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 50%;
}
#MainProducts .container #MainProducts-card #MainProducts-bgBox #MainProducts-bgBox-btn
{   
    width: 200px;
    height: 50px;
    background-color: rgba(45, 186, 233, 0.3);
    border: 2px solid rgba(45, 186, 233, 0.4);
    color: white; 
    box-shadow: 0px 0px 7px 7px rgba(45, 186, 233, 0.3);
}
#MainProducts .container #MainProducts-card #MainProducts-bgBox #MainProducts-bgBox-btn:hover
{
    cursor: pointer;
    color: rgba(45, 186, 233, 0.843);
    transform: scale(0.93);
    background-color:transparent
    ;
    box-shadow: 0px 0px 7px 7px rgba(45, 186, 233, 0.3);
    transition: 0.7s ; 
}
#MainProducts .container #MainProducts-card #MainProducts-bgBox #MainProducts-bgBox-notfBox
{
    width: 80%;
    gap: 10px;
    display: flex;
    margin: 20px auto;
    margin-top: 20px;
    align-items: center;
}

#MainProducts .container #MainProducts-card #MainProducts-bgBox #MainProducts-bgBox-notfBox #MainProducts-notfSBox
{
    width: 120px;
    align-items: center;
    display: flex;
}
#MainProducts .container #MainProducts-card #MainProducts-bgBox #MainProducts-bgBox-notfBox #MainProducts-notfSBox i
{
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: rgba(45, 186, 233, 0.843);
}
#MainProducts .container #MainProducts-card #MainProducts-bgBox #MainProducts-bgBox-notfBox #MainProducts-notfSBox p
{
    margin: 0px 0px 0px -10px;
    color: rgba(45, 186, 233, 0.843);
    font-size: 0.8rem;
    font-weight: 400;
}

