*
{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
#Home-Main
{
    width: 100%;
    background-color: #18222d; 
}
#Home-Main #Home-Main-top
{
    padding: 40px 0px;
    width: 95%;
    text-align: center;
    margin: 0 auto;
}
#Home-Main #Home-Main-top h1
{
    color: rgba(51, 171, 211, 0.843) ;
}
#Home-Main #Home-Main-top p
{
    color:rgba(45, 186, 233, 0.4);
}
#Home-Main #Home-Main-top #Home-Main-top-card
{
    padding: 40px 0px;
    margin: 0 auto;
    width: 60%;
    gap: 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#Home-Main #Home-Main-top #Home-Main-top-card #Home-Main-top-sBox
{
    padding: 0px 0px 10px 0px;
    box-sizing: border-box;
    width: 40%;
}
#Home-Main #Home-Main-top #Home-Main-top-card #Home-Main-top-sBox:hover h3
{
    color: rgba(51, 171, 211, 0.843);
    text-shadow: 0px 0px 7px 7px currentColor;
    transition: 0.7s;
}
#Home-Main #Home-Main-top #Home-Main-top-card #Home-Main-top-sBox h3
{
    color: rgba(51, 171, 211, 0.843);
}
#Home-Main #Home-Main-top #Home-Main-top-card #Home-Main-top-sBox:hover
{
    top: -1px;
    left: -2px;
    transition: 0.7s;
    box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}
#Home-Main #Home-Main-top #Home-Main-top-card #Home-Main-top-sBox:hover img
{
    transform: scale(0.97);
    transition: 0.7s;
}
#Home-Main #Home-Main-top #Home-Main-top-card #Home-Main-top-sBox img
{
    width: 350px;
    height: 380px;
    
}

